.wrapperContainer {
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header header"
        "chatList messages";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 3fr 9fr;



}
.wrapperContent {
    grid-area: messages;

}
